<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <style>
            .center{
                text-align: center;
            }
        </style>
        <div class="center">
            hello: <%=useName%>
        </div>
        <%for (let i=0;i<=list.length;i++)%>
        
    </div>
</body>
</html>