@font-face {
  font-family: 'icomoon';
  src: url("./fonts/icomoon.eot?yisc3l");
  src: url("./fonts/icomoon.eot?yisc3l#iefix") format("embedded-opentype"), url("./fonts.icomoon.woff2?yisc3l") format("woff2"), url("./fonts/icomoon.ttf?yisc3l") format("truetype"), url("./fonts/icomoon.woff?yisc3l") format("woff"), url("./fonts/icomoon.svg?yisc3l#icomoon") format("svg");
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
div {
  display: block;
}
.sleft {
  float: left;
  border-right: 1px solid #bddaf5;
  width: 188px;
  margin: 6px 0 5px 8px;
}
.sright {
  float: left;
  width: 182px;
  margin: 6px 0 5px 8px;
}
.finance-wrapper {
  width: 388px;
  height: 102px;
  border: 1px solid #cae0f3;
  border-top: 3px solid #9ec9ee;
  overflow: hidden;
}
.st-item .st-title {
  color: #455569;
  font-size: 13px;
  width: 100%;
}
.st-item .detail {
  margin-top: 0;
}
.st-item .detail span {
  color: #df4d42;
  display: inline-block;
  float: left;
  transform: translateY(3px);
}
.st-item .detail-down span {
  color: #2daa50;
}
.st-item .detail .price {
  width: 63px;
  font-size: 11px;
  margin-left: 0;
}
.st-item .detail .float {
  width: 45px;
}
.st-item .detail .float,
.st-item .detail .percent {
  display: inline-block;
  font-family: Arial;
  font-size: 12px;
  margin-left: 0;
  transform: translateY(7px);
}
.icon-num-2,
.icon-num-7,
.icon-num-8,
.icon-num-3,
.icon-num-d,
.icon-num-0,
.icon-num-5 {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-num-2:before {
  content: "\32";
}
.icon-num-7:before {
  content: "\37";
}
.icon-num-8:before {
  content: "\38";
}
.icon-num-3:before {
  content: "\33";
}
.icon-num-d:before {
  content: "\2e";
}
.icon-num-0:before {
  content: "\30";
}
.icon-num-5:before {
  content: "\35";
}
