.author-div{
    text-align: center;
    padding: 1rem;
    position: fixed;
}
.author-div div{
    margin-bottom: 1rem;

}
.author-introduction{
    font-size:.8rem;
    color: #999;
}

.account{
    font-size: 28px;
    margin-left: .5rem;
    margin-right: .5rem;
}