*{
    margin: 0;
    padding: 0;
}
.top{
    position: fixed;
    top: 0;
}
.top p{
    position: relative;
    left: 50%;
    right: 50%;
    color: green;
}
.top img{
    margin: 10px;
    width: 1rem;
    height: 1rem;
    position: fixed;
    right: 0;
    top: 0;
}