*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    background-color: green;
}
#app {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    /* 抗锯齿 font-smoothing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    top: 50%;
}
#app, .win {
    position: absolute;
    width: 750px;
    height: 100%;
    left: 50%;
    overflow: hidden;
    margin-left: -375px;
}
#playVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.innerwin, .vvw {
    position: absolute;
    width: 750px;
    margin-left: -375px;
    left: 50%;
}
.innerwin {
    top: 50%;
}